@page "/stats"
@using PoEGamblingHelper.Web.Extensions
@using PoEGamblingHelper.Web.Pages.Stats.Components

<PageTitle>Statistics Helper</PageTitle>

<div class="d-flex flex-column align-items-center w-100 h-100 pt-5">
    <img class="mt-3" style="margin-bottom: -20px; width:88px" src="icon.png" alt="icon"/>
    <div class="d-flex align-content-end">
        <h2>Path</h2>
        <h4>of</h4>
        <h2>Exile</h2>
    </div>
    <h1 class="mb-5">STATISTICS HELPER</h1>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="my-account" autocomplete="off" checked @onchange="@(() => _isMyAccountSelected = true)">
        <label class="btn btn-outline-primary" for="my-account">My Account</label>

        <input type="radio" class="btn-check" name="btnradio" id="global" autocomplete="off" @onchange="@(() => _isMyAccountSelected = false)">
        <label class="btn btn-outline-primary" for="global">Global</label>
    </div>

    <div class="d-flex flex-column align-items-center w-100">
        <h1>
            You have <i style="color: var(--bs-secondary)">@LuckAdjective()</i>@(LuckScore() > 0.5 ? "" : " luck").
        </h1>
        <p>
            Your Luck-Score is <i style="color: var(--bs-secondary)">@LuckScore().Percent()</i>.
        </p>
        <p>
            Your Luck-Rank is <i style="color: var(--bs-secondary)">679120</i>.
        </p>
        <p>
            You made <i style="color: var(--bs-secondary)">420 Divines</i> profit total.
        </p>

        <Chart Data="_data"></Chart>
    </div>
</div>