@* <div class="w-75 d-flex flex-column container "> *@
<div class="container">
    <div class="row gx-5">
        @* <div class="row gx-5 w-100"> *@
        <div class="col  flex-column">
            <label for="gem-search">Gem to corrupt</label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Gem Search" aria-describedby="reset-1" id="gem-search" style="text-align: right; padding-right: 1.5rem" value="@FilterValues.Gem" @onchange="UpdateGemSearchText">
                <button class="btn btn-primary btn-addon" type="button" id="reset-1" onclick="@(FilterValues.Gem = string.Empty)">
                    <img src="icons/x-mark.svg" alt="" style="width: 1rem"/>
                </button>
            </div>
        </div>
        <div class="col flex-column">
            <label for="temple-cost">Temple cost</label>
            <div class="input-group">
                <input type="number" class="form-control" aria-label="Temple Cost" aria-describedby="reset-2" id="temple-cost" style="text-align: right; padding-right: 1.5rem" value="@TempleCost.AverageChaosValue()" @onchange="UpdateTempleCost">
                <button class="btn btn-primary btn-addon" type="button" id="reset-2">
                    <img src="icons/arrow-rotate-right.svg" alt="" style="width: 1rem"/>
                </button>
            </div>
        </div>
        <div class="col flex-column">
            <label for="chaos-per-divine">Chaos per Divine</label>
            <div class="input-group">
                <input type="number" class="form-control" aria-label="Chaos per Divine" aria-describedby="reset-3" id="chaos-per-divine" style="text-align: right; padding-right: 1.5rem" value="@ChaosPerDivine" @onchange="UpdateChaosPerDivineChanged">
                <button class="btn btn-primary btn-addon" type="button" id="reset-3">
                    <img src="icons/arrow-rotate-right.svg" alt="" style="width: 1rem"/>
                </button>
            </div>
        </div>
        <button class="btn btn-secondary w-25">CORRUPT NOW</button>
    </div>
    <div class="row collapse" id="collapsable">
        <div class="d-flex flex-row">
            <div class="col input-group flex-column">
                <label>Price per Try</label>
            </div>
            <div class="col input-group flex-column">
                <label>Gem Types</label>
            </div>
            <div class="col input-group flex-column">
                <label>Sorting</label>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3 pointer" onclick="@ToggleFilters" data-bs-toggle="collapse" data-bs-target="#collapsable" aria-expanded="false" aria-controls="collapsable">
        <hr class="col"/>
        <p class="col text-center">@(FiltersExpanded ? "Collapse" : "Expand") Filters</p>
        <hr class="col"/>
    </div>
</div>
